<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>WowGames</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:replace="~{calendario/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{calendario/fragmentos :: agregarCalendario}"/> 
        <section th:replace="~{calendario/fragmentos :: listadoCalendarios}"/>

        <footer th:replace="~{layout/plantilla :: footer}"/>      
      
    </body>
</html>